*{margin: 0;padding: 0; font-family: 'Cormorant', serif;}
a{text-decoration: none; color: rgb(20, 20, 20);}
ul,li,ol{list-style: none;}
.d-block{display: block;}
.d-flex{display: flex;}
.jcb{justify-content: space-between;}
.aic{align-items: center;}
.acc{align-content: center;}
.jic{justify-items: center;}
.jcc{justify-content: center;}
.pr{position: relative;}
.pa{position: absolute;}
.m-auto{margin:0 auto;}
.col12{width: 100%;}
.col6{width: 50%;}
.col4{width: 33.333%;}
.col3{width: 25%;}
.col2{width: 16.6666667%;}
.col1{width: 8.333;}
.fdc{flex-direction: column;}



/* header */
.header{display: flex; justify-content: space-between;

}
.header img{height: 2rem; margin: 68px 0 0 105px;}
#gnb > li{margin: 68px 0 0 2rem;}
#gnb > li:last-child{margin-right: 105px;}


















/* 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
